<header>
        <nav class="navbar navbar-expand-lg" style="background-color:rgb(71, 137, 179) ;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Admin panel</a>
    <a class="navbar-brand" href="/admin/allproducts">All Products</a>
    <a class="navbar-brand" href="/admin/user-data">Users List</a>
    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
          {{#if adminName }}
          {{adminName}}
          {{else}}
          Account
          {{/if}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          {{#if adminName}}
            <a href="/admin/logout" style="text-decoration: none;"><li><button class="dropdown-item" type="button">Logout</button></li></a>
          {{else}}
            <a href="#" style="text-decoration: none;"><li><button class="dropdown-item" type="button">Login</button></li></a>
          {{/if}}
        </ul>
      </div>
  </div>
</nav>
    </header>